.cont {
	margin-left:20%;
    margin-right: 12%;
    position: relative; 
    top: 10px; 
    left: 15px; 
    border-color: yellow;
    border-style: solid;
    background-color: gray;
}

.butlog {
	position: relative; 
    top: 2px; 
    left: 15px; 
    border-color: gray;
    border-style: solid;
    background-color: yellow;
}

.butreg {
	position: absolute; 
    top: 6px; 
    right: 105px; 
    border-color: gray;
    border-style: solid;
    background-color: yellow;
}

a: hover {
	background-color:red;
}

.maincont {
    position: absolute; 
    top: 10px; 
    left: 55px; 
    border-color: yellow;
    border-style: solid;
    background-color: gray;
}

.addcont {
    position: absolute; 
    top: 280px; 
    left: 55px; 
    border-color: yellow;
    border-style: solid;
    background-color: gray;
}

.sort{
    position:relative;
    top: 430px; 
    left: 760px; 
    border-color: gray;
    border-style: solid;
    background-color: yellow;
}

.table_users {
	position: absolute; 
    top: 115px; 
    left: 515px;
    border-width: 2px; 
    border-color: yellow;
    border-style: solid;
    background-color: gray;
}

.edit {
	border-color: gray;
    border-style: solid;
    background-color: yellow;
}

.logout {
	border-color: gray;
    border-style: solid;
    background-color: yellow;
}

.register {
	border-color: gray;
    border-style: solid;
    background-color: yellow;
}

.look {
    border-color: gray;
    border-style: solid;
    background-color: yellow;
}


.fn {
    position: absolute; 
    top: 160px; 
    left: 65px; 
}

.ln {
    position: absolute; 
    top: 205px; 
    left: 70px; 
}

.role {
    position: absolute; 
    top: 250px; 
    left: 115px; 
}



.cont2 {
    margin-left:20%;
    margin-right: 12%;
    position: relative; 
    width: 500px;
    height:300px;
    top: 10px; 
    left: 15px; 
    border-color: yellow;
    border-style: solid;
    background-color: gray;
}

.cont3 {
    margin-left:20%;
    margin-right: 12%;
    position: relative; 
    width: 600px;
    height:400px;
    top: 10px; 
    left: 15px; 
    border-color: yellow;
    border-style: solid;
    background-color: gray;
}